.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: cornflowerblue;
  width: 100%;
  min-height: 100vh;
  background-image: url("https://previews.123rf.com/images/artjazz/artjazz1606/artjazz160600084/60793282-marr%C3%B3n-textura-de-la-pared-de-ladrillo-vieja.jpg");
  background-repeat: repeat-y;
  background-size: cover;
}

input{
  border:2px solid red;
  padding: 1.5em;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
    background: #61dafb;
    color: black;
    transition: .3s;
    cursor: pointer;
}
input:hover{
  padding: 2em;
}
input::placeholder{
  color: gray;
  font-weight: 700;
}
.tasklist{
  display: flex;
  flex-direction: column-reverse;
}


@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}
.title{
    background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  letter-spacing: 2;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 2.5em;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
}
h3{
  background-image:url("https://static.vecteezy.com/system/resources/previews/002/911/729/non_2x/weathered-grey-brick-wall-for-texture-and-background-photo.jpg");
  border: 1px solid gray;
  padding: .5em 1em;
  border-radius: 5px;

}